@model Order
    @{
    ViewData["Title"] = "View an Order";
    }
    <h2>@ViewData["Title"].</h2>
    <h3>@TempData["Message"]</h3>

    <table class="table table-striped">
        <thead>
            <th>Order Id</th>
            <th>Order Items</th>
            <th>Date Placed</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>
                @if(Model?.Items?.Count > 0) {
                    foreach(var i in Model.Items){
                    <text>@i.Count x @i.Item?.Name<br /></text>
                    }
                }
                </td>
            <td>@Model.OrderPlaced</td>
            <td>@Model.Status</td></tr>
        </tbody>
    </table>
    <h5 class="text-right">
    @if(Model.Status == "Received") {
        <a asp-controller="order" asp-action="update" asp-route-id="@Model.Id" asp-route-status="Processed" class="btn btn-primary">process</a>
   }
    </h5>
